@model Proizvod

@{
    ViewBag.Title = "Izmeni";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@if (TempData["poruka"] != null)
{
    <div class="alert alert-success">
        @TempData["poruka"]
    </div>
}

<form asp-action="Izmeni" method="post" enctype="multipart/form-data">
    <input type="hidden" asp-for="ProizvodId" value="@Model.ProizvodId"/>

    <div class="form-group">
        <label>Ime</label>
        <div><span class="text-danger" asp-validation-for="Ime"></span></div>
        <input asp-for="Ime" class="form-control" value="@Model.Ime"/>
    </div>

    <div class="form-group">
        <label>Opis</label>
        <input asp-for="Opis" class="form-control" value="@Model.Opis" />
    </div>

    <div class="form-group">
        <label>Kategorija</label>
        <div><span class="text-danger" asp-validation-for="Kategorija"></span></div>
        <input asp-for="Kategorija" class="form-control" value="@Model.Kategorija" />
    </div>

    <div class="form-group">
        <label>Cena</label>
        <div><span class="text-danger" asp-validation-for="Cena"></span></div>
        <input asp-for="Cena" class="form-control" value="@Model.Cena" />
    </div>

    <div class="form-group">
        <div class="custom-file">
            <input type="file" class="custom-file-input" name="slika" />
            <label class="custom-file-label">Izabrati datoteku</label>
        </div>
    </div>

    <div class="text-center">
        <button class="btn btn-primary" type="submit">Sačuvaj</button>
        <a asp-action="SpisakProizvoda" asp-controller="Admin" 
           class="btn btn-outline-primary">Odustani</a>
    </div>
</form>
