@model IEnumerable<HelloWebMvcEF.Models.Grad>

@{
    ViewData["Title"] = "Gradovi";
}

<h2>Gradovi</h2>

<p>
    <a asp-action="Create">Kreiraj grad</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Naziv)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Naziv)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Izmijeni</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Detalji</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Izbriši</a>
            </td>
        </tr>
}
    </tbody>
</table>