@model Proizvod

<div class="card border-info mb-3">
    <div class="card-header">
        @Model.Ime
        <span class="badge badge-info" style="float:right">
            @Model.Cena.ToString("c", Cultures.SrbLtn)
        </span>
    </div>
    <div class="card-body text-dark">
        <form asp-action="DodajUKorpu" asp-controller="Korpa" method="post">
            <input type="hidden" name="proizvodId" value="@Model.ProizvodID" />
            <input type="hidden" name="url" value="@ViewContext.HttpContext.Request.UzmiUrl()" />
            <span class="card-text">
                @Model.Opis
                <input type="number" name="kolicina" style="float:right" />
                <button type="submit" class="btn btn-success btn-sm" style="float:right">
                    Dodaj u korpu
                </button>
            </span>
        </form>
    </div>

 </div>
