@model KorpaViewModel

<h2>Vasa korpa</h2>

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Kolicina</th>
            <th>Proizvod</th>
            <th>Cena</th>
            <th class="text-right">Ukupna cena</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var p in @Model.Korpa.listaProizvodaUKorpi)
        {
            <tr>
                <td>@p.Kolicina</td>
                <td>@p.Proizvod.Ime</td>
                <td>@p.Proizvod.Cena</td>
                <td class="text-right">@((p.Kolicina*p.Proizvod.Cena).ToString("c", Cultures.Srbija))</td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <th colspan="3" class="text-right">Ukupno</th>
            <th class="text-right">@Model.Korpa.IzracunajVrednost().ToString("c", Cultures.Srbija)</th>
        </tr>
    </tfoot>

</table>

    <div>
        <a class="btn btn-primary" href="@Model.Url">Povratak na kupovinu</a>
    </div>

