@model Proizvodi[]

@{
    ViewBag.Naslov = "Iteracija";
}

<table>
    <thead>
        <th>
            <td>#</td>
            <td>Ime</td>
            <td>Opis</td>
            <td>Cena</td>
            <td>Kategorija</td>
        </th>
    </thead>
    <tbody>
        @foreach (Proizvodi p in Model)
        {
            <tr>
                <td>@p.ProizvodID</td> @* pogledati sta se desi kad se ne stavi @ *@
                <td>@p.Ime</td>
                <td>@p.Opis</td>
                <td>@($"{p.Cena:C2}")</td>
                <td>@p.Kategorija</td>
            </tr>
        }
    </tbody>
</table>