@model Kontroler

<p>
    <b>Ime </b> @Model.Ime
</p>

<p>
    <b>Prezime</b> @Model.Prezime
</p>

<p>
    <b>Raspored</b> 

    <table class="table table-striped table-bordered ">
        <thead>
            <tr>
                <th>Datum i Vreme</th>
                <th>Radna Stanica</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var v in @Model.Raspored)
            {
                <tr>
                    <td>@v.DateTime.ToString("d")</td>
                    <td>@v.RadnaStanica.Naziv</td>
                </tr>
            }
        </tbody>
    </table>
</p