@model Proizvod

    <div class="card border-info mb-3">
        <div class="card-header">
            @Model.Ime
            <span class="badge badge-info" style="float:right">
                @Model.Cena.ToString("c", Cultures.Srbija)
            </span>
        </div>
        <form asp-action="DodajUKorpu" asp-controller="Korpa" method="post">
            <input type="hidden" name="proizvodId" value="@Model.ProizvodId" />
            <input type="hidden" name="url" value="@ViewContext.HttpContext.Request.PutanjaIUpit()" />
            <span class="card-text">
                @Model.Opis
                <img src="~/ProizvodiSlike/@Model.SlikaPutanja" alt="@Model.SlikaPutanja"  width="200" height="100"/>
                <input type="number" name="kolicina" style="float:right"/>
                <button type="submit" class="btn btn-success btn-sm" style="float:right">
                    Dodaj u korpu
                </button>
            </span>
        </form>

    </div>
